<div class="card border-dark mb-3" style="max-width: 30rem;margin: auto;font-weight:bold;margin-top: 7%;">
  <form [formGroup]="identificationForm" (ngSubmit)="checkLoginFunc()">
    <div class="card-header">הזדהות </div>
    <div class="card-body text-dark">
      <h5 class="card-title">
        <label>שלום</label>
        <br>
        <label>נא הקלד כתובת אימייל וסיסמא</label>
      </h5>
      <input formControlName="email" type="text" placeholder="דואר אלקטרוני">
      <br>
      <input formControlName="password" type="password" placeholder="ססמא">
      <br>
      <input type="submit" [disabled]="identificationForm.invalid" class="btn btn-outline-primary" value="כניסה"
        style="color: rgb(6, 52, 122);" [disabled]=identificationForm.invalid>
    </div>
  </form>
</div>